.data-container{
    display:grid;
    grid-template-columns: 3fr 1fr;
}
.card img{
    width: 234px;
    height:180px;
    /* margin-left: 10px; */
    margin-top: 8px;
    margin:5px;
    border-radius: 8px;

}

.card{
    background-color:linen;
    margin-left: 5px;
}
.button{
    padding:5px;
    width:120px;
}

.fab{
    padding:7px;
}